POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_DB=transit
POSTGRES_USER=transit
POSTGRES_PASSWORD=transit

RAW_DATA_ROOT=data/raw
PROCESSED_DATA_ROOT=data/processed
MBTA_GTFS_STATIC_URL=https://cdn.mbta.com/MBTA_GTFS.zip
MBTA_VEHICLE_POSITIONS_URL=https://cdn.mbta.com/realtime/VehiclePositions.pb
