POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_DB=transit
POSTGRES_USER=transit
POSTGRES_PASSWORD=transit

RAW_DATA_ROOT=data/raw
PROCESSED_DATA_ROOT=data/processed
MBTA_GTFS_STATIC_URL=https://cdn.mbta.com/MBTA_GTFS.zip
MBTA_VEHICLE_POSITIONS_URL=https://cdn.mbta.com/realtime/VehiclePositions.pb
MBTA_POLL_INTERVAL_SECONDS=15
MBTA_HTTP_TIMEOUT_SECONDS=30
KAFKA_BOOTSTRAP_SERVERS=localhost:19092
VEHICLE_POSITIONS_TOPIC=vehicle_positions
VEHICLE_POSITIONS_CONSUMER_GROUP=vehicle-position-postgres-writer
MBTA_CONSUMER_BATCH_SIZE=100
MBTA_REALTIME_STALE_THRESHOLD_SECONDS=60
